body {
    background-color: #212529;
    color: white;
    height: 100%;
}

/* MAIN BODY */

.head {
    padding-top: 260px;
    color: white;
    line-height: 1.3;
    text-align: center;
}

.subtext {
    padding-bottom: 330px;
    color: rgb(255, 255, 255, .55);
    line-height: 1.3;
    text-align: center;

}

.container {
    max-width: 1000px;
}

.pt-10 {
    padding-top: 5rem!important;
}

.pt-16 {
    padding-top: 20rem!important;
}

.custom-1 span {
font-family: Material Icons;
float: right;
font-size: 250px;
}

.custom-1 h3 {
    padding-top: 60px;
}

.custom-1 p {
    color: rgb(255, 255, 255, .55);
    width: 40%;
}

.custom-2 img {
    float: left;
    width: 540px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-2 h3 {
    padding-top: 60px;
    float: right;
    width: 40%;
}

.custom-2 p {
    float: right;
    width: 40%;
    color: rgb(255, 255, 255, .55);
}

.footer {
  position: absolute;
  width: 100%;
}

/* MEDIA */

@media screen and (max-width: 967px) {
    .custom-1 span {
        float: none;
        display: block;
        text-align: center;
    }

    .pt-10 {
        padding-top: 1rem!important;
    }
    .pt-16 {
        padding-top: 2rem!important;
    }

    .custom-1 p {
        text-align: center;
        width: 100%;
    }

    .custom-1 h3 {
        text-align: center;
    }

    .custom-2 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-2 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-2 img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    
}
