body {
    background-color: #212529;
    color: white;
    height: 100%;
}

.navbar-brand img {
    border-radius: 20px;
}

form.d-flex button {
    background-color: rgb(121 145 246);
    color: white;
    outline: none;
    border: none;
}

form.d-flex button:hover {
    background-color: rgb(166 168 253);
}

/* MAIN BODY */

.head {
    padding-top: 260px;
    color: white;
    line-height: 1.3;
    text-align: center;
}

.subtext {
    padding-bottom: 330px;
    color: rgb(255, 255, 255, .55);
    line-height: 1.3;
    text-align: center;

}

.container {
    max-width: 1300px;
}

.pt-10 {
    padding-top: 10rem!important;
}

.pt-16 {
    padding-top: 20rem!important;
}

.custom-1 img {
  height: 269px;
  width: 510px;
  float: right;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-1 h3 {
    padding-top: 60px;
}

.custom-1 p {
    color: rgb(255, 255, 255, .55);
    width: 40%;
}

.custom-2 img {
    float: left;
    height: 270px;
    width: 540px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-2 h3 {
    padding-top: 60px;
    float: right;
    width: 40%;
}

.custom-2 p {
    float: right;
    width: 40%;
    color: rgb(255, 255, 255, .55);
}


/* MEDIA */

@media screen and (max-width: 967px) {
    .custom-1 img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .pt-10 {
        padding-top: 5rem!important;
    }
    .pt-16 {
        padding-top: 2rem!important;
    }

    .custom-1 p {
        text-align: center;
        width: 100%;
    }

    .custom-1 h3 {
        text-align: center;
    }

    .custom-2 p {
        text-align: center;
        float: none;
        width: 100%;
    }

    .custom-2 h3 {
        float: none;
        text-align: center;
        width: 100%;
    }

    .custom-2 img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    
}


